[workspace]
members = [
    "programs/*"
]
resolver = "2"

# Override problematic git dependencies with released versions
[patch.crates-io]
base64ct = "=1.8.3"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
