[workspace]
members = [
    "programs/*"
]
resolver = "2"


[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

# Patch to use compatible versions that don't require Edition 2024 support
# This forces Cargo to use constant_time_eq 0.3.1 instead of 0.4.2
# Uses git-fetch-with-cli for better network compatibility
[patch.crates-io]
constant_time_eq = { git = "https://github.com/cespare/constant_time_eq.git", tag = "v0.3.1" }
blake3 = { git = "https://github.com/BLAKE3-team/BLAKE3.git", tag = "1.5.4" }

