[workspace]
members = [
    "programs/*"
]
resolver = "2"

# Work around broken constant_time_eq v0.4.2 on crates.io
[patch.crates-io]
constant_time_eq = { version = "=0.4.1" }

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
